{
    "parserOptions": {
        "parser": "babel-eslint",
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "globals": {
        "chrome": true,
        "environment": true,
        "expect": true
    },
    "env": {
      "node": true,
      "browser": true,
      "es6": true,
      "mocha": true
    },
    "extends": ["eslint:recommended", "plugin:vue/base"]
}
